
<web-app>
  
	<display-name>career_therapy</display-name>
	 <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserAction</servlet-name>
  	<display-name>UserAction</display-name>
  	<description></description>
  	<servlet-class>com.cusat.hackathon.servlets.UserAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserAction</servlet-name>
  	<url-pattern>/users</url-pattern>
  </servlet-mapping>
</web-app>
