
<web-app>
  
	<display-name>career_therapy</display-name>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/create_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/user_login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout.form</url-pattern>
	</servlet-mapping>
	 <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserAction</servlet-name>
  	<display-name>UserAction</display-name>
  	<description></description>
  	<servlet-class>com.cusat.hackathon.servlets.UserAction</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CreateUser</display-name>
  	<servlet-name>CreateUser</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.CreateUser</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UserLogin</display-name>
  	<servlet-name>UserLogin</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Logout</display-name>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.Logout</servlet-class>
  </servlet>
<!--  -->
</web-app>
