
<web-app>
  
	<display-name>career_therapy</display-name>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/create_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/user_login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout.form</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveQualificationform1</servlet-name>
		<url-pattern>/sqdform1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveQualificationform2</servlet-name>
		<url-pattern>/sqdform2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveQualificationform3</servlet-name>
		<url-pattern>/sqdform3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveQualificationform4</servlet-name>
		<url-pattern>/sqdform4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserDetails</servlet-name>
		<url-pattern>/update_user_details</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestAction</servlet-name>
		<url-pattern>/test_action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResultAction</servlet-name>
		<url-pattern>/result_action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactUser</servlet-name>
		<url-pattern>/contact_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TenthServlet</servlet-name>
		<url-pattern>/tenth_servlet</url-pattern>
	</servlet-mapping>
	 <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<description>
  	</description>
  	<display-name>AuthenticationFilter</display-name>
  	<filter-name>AuthenticationFilter</filter-name>
  	<filter-class>com.ucsat.hackathon.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AuthenticationFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>UserAction</servlet-name>
  	<display-name>UserAction</display-name>
  	<description></description>
  	<servlet-class>com.cusat.hackathon.servlets.UserAction</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CreateUser</display-name>
  	<servlet-name>CreateUser</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.CreateUser</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UserLogin</display-name>
  	<servlet-name>UserLogin</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Logout</display-name>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SaveQualificationform1</display-name>
  	<servlet-name>SaveQualificationform1</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.SaveQualificationform1</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SaveQualificationform2</display-name>
  	<servlet-name>SaveQualificationform2</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.SaveQualificationform2</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SaveQualificationform3</display-name>
  	<servlet-name>SaveQualificationform3</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.SaveQualificationform3</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SaveQualificationform4</display-name>
  	<servlet-name>SaveQualificationform4</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.SaveQualificationform4</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateUserDetails</display-name>
  	<servlet-name>UpdateUserDetails</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.UpdateUserDetails</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>TestAction</display-name>
  	<servlet-name>TestAction</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.TestAction</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ResultAction</display-name>
  	<servlet-name>ResultAction</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.ResultAction</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ContactUser</display-name>
  	<servlet-name>ContactUser</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.ContactUser</servlet-class>
  </servlet>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>TenthServlet</display-name>
  	<servlet-name>TenthServlet</servlet-name>
  	<servlet-class>com.cusat.hackathon.servlets.TenthServlet</servlet-class>
  </servlet>
  
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
</error-page>
  
<!--  -->
</web-app>
